.form {
    width: 400px;
    background:
            linear-gradient(135deg, #FF5EDF 25%, transparent 25%) -50px 0,
            linear-gradient(225deg, #FF5EDF 25%, transparent 25%) -50px 0,
            linear-gradient(315deg, #FF5EDF 25%, transparent 25%),
            linear-gradient(45deg, #FF5EDF 25%, transparent 25%);
    background-size: 30px 30px;
    background-color: #04C8DE;
}
